@using MuTube.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<meta property="og:url" content="http://www.motube.com.ar" />*@
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Motube" />
    <meta property="og:image" content="http://www.motube.com.ar/Image/bender2.png" />
    @if (ViewBag.DescargaInmediata != null)
    {
        <meta property="og:description" content="Descarga en formato MP3:
              
              @foreach (var d in ViewBag.DescargaInmediata)
                    {
                        <text>
                        @@@d.Nombre
                        </text>
                    }" />
    }
    else
    {
        <meta property="og:description" content="Descarga en formato MP3 toda una selección de temas utilizando el buscador" />
    }

    <link rel="shortcut icon" type="image/x-icon" href="resources/favicon.ico" />

    <title>@Text.Titulo</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/mvc/5.0/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://malsup.github.io/jquery.blockUI.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>*@

    
    @Scripts.Render("~/bundles/jquery")

    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")

    @*<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/respond.js"></script>*@
    

    @RenderSection("scripts", required: false)
</body>
</html>
