<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="page_favicon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAe0lEQVQ4T2NkoBAwUqifgYoGsHD8h7vmzw/cBqOpQygESYA0whRgMwRZDqoe1QD0AEE2BNlmmLo/PxjxGwBSiOwqLBYQNgBfNOF0AS5b0cXxGgCyGVvM4I0FpMDB6fLBbcC7V88YhMSkIFGHC7Bw/EdWhz0ayUrKZGZLAIMNVxH0McEuAAAAAElFTkSuQmCC" rel="icon" type="image/x-icon">
    <title>MoTube</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
