@{
    ViewBag.Title = Text.Titulo;
}
@using MuTube.Helpers
<script type="text/javascript" src="~/Scripts/signature.js?v=20160420"></script>
<script type="text/javascript" src="~/Scripts/index.js?v=20160420"></script>
<script type="text/javascript" src="~/Scripts/paginado.js?v=20160420"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                @if (ViewBag.DescargaInmediata != null)
                {
                    foreach (var d in ViewBag.DescargaInmediata)
                    {
                        <text>
                        seleccionados['@d.Id'] = '@d.Nombre';
                        </text>
                    };
                }
                $('.descargar').click();
            });
        </script> 
 
@Html.Hidden("loading", Url.Content("Image/loading.gif"))
@Html.Hidden("urlObtenerNombre", Url.Action("ObtenerNombrePorId","Home"))
<div id="fondo" class="jumbotron" style="padding-top: 10px;padding-bottom:0px ;margin-bottom: 0px">
    
    
    <div class="row">
        <div class="col-md-12">
            <a  href="#"><img id="bender" data-toggle="tooltip" data-placement="left" title="@Text.Titulo_Bender" src="@Url.Content("~/Image/bender.png")" /></a>
            <h3 style="margin-top: 5px">@Text.Titulo - <small>@Text.Subtitulo</small></h3>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
            @using (Ajax.BeginForm("Index", "Home", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "gridContainer", OnBegin = "isValid", OnComplete = "$.unblockUI(); $('ul.ui-autocomplete').hide();" }, new { id = "filtroForm" }))
            {
                <div id="filtrogroup" class="form-group form-group-sm" style="margin-bottom: 20px;">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm btn-smdropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="accionSeleccionada" data-val="0">@Text.BuscarMp3.Split(null)[2]&nbsp;</span><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="accion" data-val="0" data-accion="@Text.BuscarMp3" data-help="@Text.BuscarMp3Help" data-botonAccion="@Text.Boton_Buscar" data-textbox="@Text.Textbox_PrincipalMp3"><i class="glyphicon glyphicon-ok"></i><span>@Text.BuscarMp3</span></a></li>
                                <li><a href="#" class="accion hide" data-val="1" data-accion="@Text.BuscarMp4" data-help="@Text.BuscarMp4Help" data-botonAccion="@Text.Boton_Buscar" data-textbox="@Text.Textbox_PrincipalMp4"><i class="glyphicon glyphicon-ok hide"></i><span>@Text.BuscarMp4</span></a></li>
                                <li><a href="#" class="accion" data-val="2" data-accion="@Text.DescargarLink" data-help="@Text.DescargarLinkHelp" data-botonAccion="@Text.Boton_DescargarMp3" data-textbox="@Text.Textbox_PrincipalLink"><i class="glyphicon glyphicon-ok hide"></i><span>@Text.DescargarLink</span></a></li>
                            </ul>
                            <button type="button" class="btn btn-default btn-sm hidden-xs" aria-label="Help" id="help" data-trigger="focus"  data-container="body" data-toggle="popover" data-placement="bottom" ><span class="glyphicon glyphicon-question-sign"></span></button>
                        </div>
                        <div class="ui-widget">
                            <input type="text" name="filtro" id="filtro" class="form-control ui-autocomplete-input" autocomplete="off" placeholder="@Text.Textbox_PrincipalMp3" autofocus>
                        </div>                        
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" type="submit" id="botonAccion">@Text.Boton_Buscar</button>
                        </span>
                    </div>
                    <span id="errorBusquedaBlanco" class="help-block" style="display:none; margin: 0px">@Text.Error_BusquedaEnBlanco</span>
                    <span id="errorUrlEnBlanco" class="help-block" style="display:none; margin: 0px">@Text.Error_UrlEnBlanco</span>
                    <span id="errorUrlInvalida" class="help-block" style="display:none; margin: 0px">@Text.Error_UrlInvalida</span>
                </div>                
            }
        </div>
    </div>
    <div class="row">
        <div id="gridContainer" class="col-md-12">
            
        </div>
    </div>
</div>

    <div class="modal fade bs-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title" id="myModalLabel">@Text.Dialogo_Procesando_Titulo</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed">
                        <tbody class="tablaDescargados"></tbody>
                    </table>                    
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm" style="margin-bottom:0">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="botonCompartir" class="btn btn-primary btn-sm" style="padding: 0px;background-color:white">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" class="pluginButtonIconSVG">
                                                <path fill="#3b5998" d="
                                                      M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
                                                      11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
                                                      11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
                                                      15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
                                                      11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z"></path>
                                            </svg>
                                        </button>                                       
                                    </div>
                                    @*<span class="input-group-addon">Compartir Descarga</span>*@
                                    <input type="text" class="form-control" id="urlCompartir" readonly aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-sm" id="myModal-cerrar" disabled="disabled" data-dismiss="modal">@Text.Boton_Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade bs-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-sm" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="yttitle">@Text.Dialogo_VistaPrevia_Titulo</h4>
            </div>
            <div class="modal-body" style="height:350px; text-align: center">
                <iframe id="ytplayer" type="text/html" style="width: 97%;height:97%"
                        src=""
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="descargar"></div>
