@using Dominio
@model Resultado
@{
    Layout = null;
}

<table style="width: 100%;margin-bottom:10px ;" class="table table-striped">
    <tr>
        <th style="width: 15px"><input id="todos" data-nombre="todos" class="todos" type="checkbox" /></th>
        <th>Tema</th>
        @*<th>Descripción</th>*@
        <th class="text-center">Link Externo</th>
        <th class="text-center">Duración</th>
    </tr>
    @foreach (var item in Model.Temas)
    {
        <tr>
            <td class="text-center"><input id="@item.Id" data-nombre="@item.Nombre" class="checkDescargar" type="checkbox" /></td>
            <td>@item.Nombre</td>
            @*<td>@item.Autor</td>*@
            <td class="text-center"><a class="verVideo"data-name="@item.Nombre" href="https://www.youtube.com/embed/@item.Id?rel=0&showinfo=0&color=white&iv_load_policy=3&theme=light"><img src="~/Image/yt.png" /></a></td>
            <td class="text-center">@item.Duracion</td>
        </tr>
    }
</table>
<table class="table" style="margin-bottom:5px">
    <tr class="row">
        <td class="col-md-1 descargar sinBorde">
            <button type="button" class="btn btn-primary">
                <i class="glyphicon glyphicon-download-alt text-center"></i>&nbsp;Descargar
            </button>
        </td>
            @if (!string.IsNullOrEmpty(Model.Anterior))
            {
                <td class="col-md-5 sinBorde">
                    <div id="alertaError" data-mensaje="aaaaaaaaaa" class="alert alert-danger fade in col-lg-8" style="display:none;padding: 7px;margin-bottom:0">
                        <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="vertical-align: middle"></i>
                        <span></span>
                    </div>
                    <i id="prev" data-id="@Model.Anterior" data-filtro="@Model.Filtro" data-pagina="@Model.Pagina" class="glyphicon glyphicon-chevron-left pull-right btn-lg" style="cursor: pointer;vertical-align: middle"></i>
                </td>
            }
            else
            {
                 <td class="col-md-5 sinBorde">
                     <div id="alertaError" data-mensaje="aaaaaaaaaa" class="alert alert-danger fade in col-lg-8" style="display:none;padding: 7px;margin-bottom:0">
                         <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="vertical-align: middle"></i>
                         <span></span>
                     </div>
        &nbsp;</td>
             }
             @if (!string.IsNullOrEmpty(Model.Siguiente))
             {
                 <td class="col-md-1 sinBorde"><i id="next" data-id="@Model.Siguiente" data-filtro="@Model.Filtro" data-pagina="@Model.Pagina" class="glyphicon glyphicon-chevron-right btn-lg" style="cursor: pointer;vertical-align: middle"></i></td>
             }
             else
             {
                 <td class="col-md-1 sinBorde">&nbsp;</td>
             }
        <td style="text-align:right; vertical-align:middle" class="col-md-5 sinBorde">Pagina: @Model.Pagina / @(Model.CantidadDePaginas == 99 ? "+99" : Model.CantidadDePaginas.ToString())</td>
    </tr>
</table>
