@using Dominio
@model Resultado
@{
    Layout = null;
}
<script type="text/javascript" src="~/Scripts/signature.js"></script>
<script type="text/javascript" src="~/Scripts/paginado.js"></script>

@Html.Hidden("loading",Url.Content("Image/loading.gif"))
<table style="width: 100%;margin-bottom:10px ;" class="table table-striped">
    <tr>
        <th style="width: 15px"><input id="todos" data-nombre="todos" class="todos" type="checkbox" /></th>
        <th>Tema</th>
        @*<th>Descripción</th>*@
        <th class="text-center">Link Externo</th>
        <th class="text-center">Duración</th>
    </tr>
    @foreach (var item in Model.Temas)
    {
        <tr>
            <td class="text-center"><input id="@item.Id" data-nombre="@item.Nombre" class="checkDescargar" type="checkbox" /></td>
            <td>@item.Nombre</td>
            @*<td>@item.Autor</td>*@
            <td class="text-center"><a class="verVideo"data-name="@item.Nombre" href="https://www.youtube.com/embed/@item.Id?fs=0&modestbranding=1&rel=0&showinfo=0&color=white&iv_load_policy=3&theme=light"><img src="~/Image/yt.png" /></a></td>
            <td class="text-center">@item.Duracion</td>
        </tr>
    }
</table>
<table class="table" style="margin-bottom:5px">
    <tr>
        <td style="width: 100px" class="descargar sinBorde">
            <button type="button" class="btn btn-primary">
                <i class="glyphicon glyphicon-download-alt text-center"></i>&nbsp;Descargar
            </button>
        </td>
            @if (!string.IsNullOrEmpty(Model.Anterior))
            {
                <td class="col-lg-6 sinBorde" style="width:40%">
                    <div id="alertaError" data-mensaje="aaaaaaaaaa" class="alert alert-danger fade in col-lg-8" style="display:none;padding: 7px;margin-bottom:0">
                        <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
                        <span></span>
                    </div>
                    <i id="prev" data-id="@Model.Anterior" data-filtro="@Model.Filtro" data-pagina="@Model.Pagina" class="glyphicon glyphicon-chevron-left pull-right" style="cursor: pointer"></i>
                </td>
            }
            else
            {
                 <td class="col-lg-6 sinBorde" style="width:40%">
                     <div id="alertaError" data-mensaje="aaaaaaaaaa" class="alert alert-danger fade in col-lg-8" style="display:none;padding: 7px;margin-bottom:0">
                         <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
                         <span></span>
                     </div>
        &nbsp;</td>
             }
             @if (!string.IsNullOrEmpty(Model.Siguiente))
             {
                 <td class="col-lg-6 sinBorde" style="width:40%"><i id="next" data-id="@Model.Siguiente" data-filtro="@Model.Filtro" data-pagina="@Model.Pagina" class="glyphicon glyphicon-chevron-right" style="cursor: pointer"></i></td>
             }
             else
             {
                 <td class="col-lg-6 sinBorde" style="width:40%">&nbsp;</td>
             }
        <td style="width: 100px" class="sinBorde">@Model.Pagina / @Model.CantidadDePaginas</td>
    </tr>
</table>
